{
    "$files": {
        "array": "furniture",
        "fileName": "{{id}}.loot"
    },
    "$template": {
        "pools": [
            {
                "rolls": 1,
                "entries": [
                    {
                        "type": "item",
                        "name": "{{NAMESPACE}}:{{id}}"
                    }
                ]
            }
        ]
    }
}