{
    "$template": {
        "format_version": "1.20.0",
        "{{#furniture}}": {
            "{{NAMESPACE}}:{{id}}": {
                "sound": "{{sound ?? 'metal'}}"
            }
        }
    }
}
